<h4>Alle Buchungen</h4>

<div class="well">

    <div class="table-responsive">

        <table st-table="ablCtrl.displayed" st-pipe="ablCtrl.callServer" class="table table-striped table-hover">

            <thead>
            <tr>
                <th></th>
                <th colspan="2">
                    <input st-search="userIdentifier" placeholder="Benutzerfilter"
                           class="input-sm form-control table-filter" type="search"/>
                </th>
                <th colspan="2">
                    <input st-search="projectIdentifier" placeholder="Projektfilter"
                           class="input-sm form-control table-filter" type="search"/>
                </th>
                <th colspan="2">
                    <input st-search="description" st-search placeholder="Beschreibungsfilter"
                           class="input-sm form-control table-filter" type="search"/>
                </th>
            </tr>
            <tr>
                <th st-skip-natural="true" st-sort="startTime" st-sort-default="true">Datum</th>
                <th st-skip-natural="true" st-sort="userIdentifier">Benutzer</th>
                <th st-skip-natural="true" st-sort="projectIdentifier">Projekt</th>
                <th class="text-center">Beginn</th>
                <th class="text-center">Ende</th>
                <th class="text-center">Pause</th>
                <th>Beschreibung</th>
            </tr>
            </thead>

            <tbody ng-show="!ablCtrl.isLoading">
            <tr ng-repeat="booking in ablCtrl.displayed">
                <td>{{booking.startTime | date:'dd.MM.yyyy'}}</td>
                <td>{{booking.userIdentifier}}</td>
                <td>{{booking.projectIdentifier}}</td>
                <td class="text-center">{{booking.startTime  | date:'HH:mm'}}</td>
                <td class="text-center">{{booking.endTime | date:'HH:mm'}}</td>
                <td class="text-center">{{booking.breakDuration}}</td>
                <td>{{booking.description}}</td>
            </tr>
            </tbody>
            <tbody ng-show="ablCtrl.isLoading">
            <tr>
                <td colspan="7" class="text-center">Loading ...</td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td class="text-center" st-pagination="" st-items-by-page="5" colspan="7">
                </td>
            </tr>
            </tfoot>

        </table>

    </div>

</div>