<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

<div class="well well-sm">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-9 ">
            <button type="button" ng-click="createBooking()" class="btn btn-primary pull-right">Neue Buchung</button>
        </div>
    </div>
</div>

<div class="well">

    <div class="table-responsive">

        <table st-table="blCtrl.displayed" st-pipe="blCtrl.callServer" class="table table-striped table-hover">

            <thead>
            <tr>
                <th st-skip-natural="true" st-sort="startTime" st-sort-default="true">Datum</th>
                <th st-skip-natural="true" st-sort="projectIdentifier">Projekt</th>
                <th>Beginn</th>
                <th>Ende</th>
                <th>Pause</th>
                <th>Beschreibung</th>
                <th class="text-center"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></th>
            </tr>
            <tr>
                <th></th>
                <th colspan="3">
                    <input st-search="projectIdentifier" placeholder="Projektfilter"
                           class="input-sm form-control table-filter" type="search"/>
                </th>
                <th colspan="3">
                    <input st-search="description" st-search placeholder="Beschreibungsfilter"
                           class="input-sm form-control table-filter" type="search"/>
                </th>
            </tr>
            </thead>

            <tbody ng-show="!blCtrl.isLoading">
            <tr ng-repeat="booking in blCtrl.displayed">
                <td>{{booking.startTime | date:'dd.MM.yyyy'}}</td>
                <td>{{booking.projectIdentifier}}</td>
                <td>{{booking.startTime  | date:'HH:mm'}}</td>
                <td>{{booking.endTime | date:'HH:mm'}}</td>
                <td>{{booking.breakDuration}}</td>
                <td>{{booking.description}}</td>
                <td class="text-center">
                    <button type="button" ng-click="editBooking(booking)" class="btn btn-xs btn-warning">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                    <button type="button" ng-click="removeBooking(booking)" class="btn btn-xs btn-danger">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            </tbody>
            <tbody ng-show="blCtrl.isLoading">
            <tr>
                <td colspan="7" class="text-center">Loading ...</td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td class="text-center" st-pagination="" st-items-by-page="5" colspan="7">
                </td>
            </tr>
            </tfoot>

        </table>

    </div>

</div>