<!--<h3>Please Login4</h3>
<div>
    <div class="alert alert-error" ng-show="loginError">Username and/or Password Incorrect</div>
    <form ng-submit="login()">
        <div><input type='text' ng-model='user.identifier' placeholder='username'/></div>
        <div><input type='password' ng-model='user.password' placeholder='password'/></div>
        <div><input class="btn btn-default" type="submit" value="Login"></div>
    </form>
</div>-->


<div class="alert alert-danger margin-top" ng-show="loginError">
    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> <strong>Username and/or Password Incorrect</strong>
</div>

<form class="form-signin" ng-submit="loginMeIn()">

    <h2 class="form-signin-heading">Please sign in</h2>

    <label for="identifier" class="sr-only">User name</label>
    <input type="text" id="identifier" ng-model="login.username" class="form-control"
           placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" ng-model="login.password" class="form-control"
           placeholder="Password" required>

    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="login.remember" value="remember-me"> Remember me
        </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

</form>

