<div class="row">

    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">

        <div class="alert alert-danger margin-top" ng-show="loginError">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> <strong>Username and/or Password
            Incorrect</strong>
        </div>

        <form class="form-signin" ng-submit="loginMeIn()">

            <h2 class="form-signin-heading">Please sign in</h2>

            <div class="form-group">
                <label for="identifier" class="sr-only">User name</label>
                <input type="text" id="identifier" ng-model="login.username" class="form-control"
                       placeholder="Username" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" ng-model="login.password" class="form-control"
                       placeholder="Password" required>
            </div>
            <!--<div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="login.remember" value="remember-me"> Remember me
                </label>
            </div>-->
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </div>

        </form>

    </div>

</div>

