<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">

                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

                <form name="bookingForm" class="form-horizontal">

                    <div class="form-group">

                        <label class="col-sm-3 control-label">Projekt</label>

                        <div class="col-sm-9">
                            <select ng-model="selectedProject" class="form-control" required ng-disabled="bookingId"
                                    ng-options="project.identifier as project.identifier + ' - ' + project.description for project in projects">
                            </select>
                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-sm-3 control-label">Datum</label>

                        <div class="col-sm-9">
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{dateFormat}}"
                                       ng-model="bookingDate" is-open="opened" datepicker-options="{{dateOptions}}"
                                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                          </span>
                            </p>
                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-sm-3 control-label" style="padding-top: 0px;">Zeitraum</label>

                        <div class="col-sm-9">

                            <div class="row">

                                <div class="col-sm-2">
                                    <label class="mylabel">Start </label>
                                </div>
                                <div class="col-sm-3">
                                    <timepicker ng-model="startTime" hour-step="hstep" minute-step="mstep"
                                                show-meridian="false"></timepicker>
                                </div>

                                <div class="col-sm-2">
                                    <label class="mylabel">Ende </label>
                                </div>
                                <div class="col-sm-3">
                                    <timepicker ng-model="endTime" hour-step="hstep" minute-step="mstep"
                                                show-meridian="false"></timepicker>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-sm-3 control-label">Beschreibung</label>

                        <div class="col-sm-5">
                            <input class="form-control" ng-model="description" type="text" maxlength="30"
                                   placeholder="Beschreibung">
                        </div>
                        <div class="col-sm-2">
                            <label class="mylabel">Pause </label>
                        </div>
                        <div class="col-sm-2">
                            <input ng-model="breakDuration" type="number" min="0" max="360" step="5"
                                   class="form-control durationSelect"
                                   placeholder="0">
                        </div>

                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" ng-click="createUpdateBooking()" class="btn btn-primary">Speichern</button>
                <button type="button" ng-click="cancel()" class="btn">Abbrechen</button>
            </div>
        </div>
    </div>
</div>
