<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">

                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}
                </alert>

                <form class="form-horizontal">

                    <div ng-show="isProjectsLoading||isUserProjectsLoading" class="form-group">
                        <div class="col-sm-12 text-center">Lade ...</div>
                    </div>

                    <div ng-show="!(isProjectsLoading||isUserProjectsLoading)" class="form-group">

                        <div class="col-sm-5">
                            <label>Nichtzugewiesende Projekte</label>
                            <select size="6" ng-model="selectedProject" class="form-control" required
                                    ng-disabled="bookingId"
                                    ng-options="project.identifier as project.identifier + ' - ' + project.description for project in allProjects">
                            </select>
                        </div>
                        <div class="col-sm-2 text-center">
                            <br/>
                            <br/>
                            <button type="button" ng-click="assignToProject()" class="btn btn-primary">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                            <br/>
                            <button type="button" ng-click="unassignToProject()" class="btn btn-primary">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="col-sm-5">
                            <label>Benutzer Projekte</label>
                            <select size="6" ng-model="selectedUserProject" class="form-control" required
                                    ng-disabled="bookingId"
                                    ng-options="project.identifier as project.identifier + ' - ' + project.description for project in userProjects">
                            </select>
                        </div>

                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" ng-click="cancel()" class="btn btn-primary">Schließen</button>
            </div>
        </div>
    </div>
</div>
