.margin-top {
    margin-top: 20px;
}

/* fix for iOS to prevent zooming */
.form-control {
    font-size: 16px;
}

.vcenter {
    padding-top: 0px;
    display: flex;
    align-items: center;
}

.durationSelect {
    width: 65px;
}

/*.mylabel {*/
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
    /*margin-bottom: 0px;*/
/*}*/