.margin-top {
    margin-top: 20px;
}

/* fix for iOS to prevent zooming */
.form-control {
    font-size: 16px;
}

.vcenter {
    padding-top: 0px;
    display: flex;
    align-items: center;
}

.durationSelect {
    width: 65px;
}

.modal-header {
    background-color: #8AAA24;
    color: whitesmoke;
}