<nav class="navbar navbar-inverse navbar-fixed-bottom">

    <div class="footer">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-xs-12">
                    <h5><strong>Schnellzugriff</strong></h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#bookings">Zeitbuchung</a>
                            <a href="#users">Benutzerverwaltung</a>
                            <a href="#projects">Projektverwaltung</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-5 col-sm-6 col-lg-offset-2 col-md-offset-1 hidden-xs">
                    <h5><strong>Support kontaktieren</strong></h5>
                    <ul class="list-unstyled">
                        <li>
                            <i class="glyphicon glyphicon-globe"></i> Deutschland, Eschborn
                            <i class="glyphicon glyphicon-phone"></i> +49 69 597724-0
                        </li>
                        <li>
                            <i class="glyphicon glyphicon-envelope"></i>
                            <a href="mailto:support@pd">support@prodyna.com</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</nav>

